@model IEnumerable<Assignment6.Models.GuestDetail>

@using Assignment6.CustomeHtmlHelper;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    <h2 class="text-center">Guest Details</h2>
    @Html.Table(new List<Assignment6.Models.GuestDetail>(Model), "table")
</div>
