@model IEnumerable<Assignment2.Models.Invitation>
@using Assignment2.Models;

@{
    ViewBag.Title = "Index";
}

<div class="container m-5">
    <h3>Check out guests who attend party!</h3>
    <p>Will you attend..?   
        <img src="~/Content/Images/img3.jfif" />     </p>
    <ul>
        @foreach (Invitation invitation in @Model)
        {
            <li>@Html.ActionLink(@invitation.Invited, "Index", "Guest", new { invitationId = invitation.InvitationId }, null)</li>
        }
    </ul>
</div>
